* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background: linear-gradient(to right, rgb(8, 48, 158), rgb(2, 157, 247));
}

#main-container {
    display: flex;
    margin-top: 30px;
}

#banner-container,
#form-container {
    flex: 1 1 0;
}

#form-container h2 {
    padding: 15px;
    font-size: 20px;
    color: #bbb;
}

#banner-container {
    text-align: right;
}

#banner-container img {
    width: 289px; 
    height: auto; 
    margin-top: 30px;
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px; 
    
    
}

#form-container {
    text-align: center;
}

#form-box {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 350px; 
    margin-top: 30px;
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 15px; 
}

#login-form {
    margin-top: 20px;
}

#login-form input {
    display: block;
    font-size: 12px;
    padding: 12px 12px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 20px; 
    width: 268px;
    margin: 5px auto 10px;
}

#login-form input[id="submit"] {
    background-color: #1295e0;
    color: #fff;
}

.separator {
    position: relative;
}

.line {
    border-top: 1px solid #dbdbdb;
    width: 268px;
    margin: 10px auto 10px;
}

.separator span {
    position: absolute;
    text-transform: uppercase;
    color: #bbb;
    background-color: #fff;
    top: -6px;
    width: 50px;
    margin-left: -25px;
    font-size: 14px;
}

#google-login {
    margin-top: 25px;
}

#facebook-login {
    margin-bottom: 25px;
}

span {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

#google-login a {
    padding: 10px;
    display: flex;
    text-decoration: none;
    color: #385185;
    justify-content: center;
    align-items: center;
    border: 2px solid #d32323;
    border-radius: 20px;
    margin: 10px 40px;
    background-color: #d32323;
}

#google-login img {
    width: 14px;
    height: 16px;
    margin-right: 5px;
}

#facebook-login a {
    padding: 10px;
    display: flex;
    text-decoration: none;
    color: #385185;
    justify-content: center;
    align-items: center;
    border: 2px solid #3b5998;
    border-radius: 20px;
    margin: 10px 40px;
    background-color: #3b5998;
}

#facebook-login img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.href {
    font-size: 15px;
    padding-bottom: 10px;
    display: flex;
    text-decoration: none;
    color: #1295e0;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px 40px;
    font-weight: bold;
}